streamlit
torch
torchaudio
torchvision 
transformers
diffusers
gTTS
nltk
soundfile
librosa
accelerate
pandas
scikit-learn
numpy
opencv-python-headless==4.8.1.78
matplotlib
seaborn
requests
scipy
streamlit_webrtc
mediapipe==0.10.9
